/* Header Container CSS Starts Here */
.headerContainer {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, #1d976c, #93f9b9);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.headerContainer aside {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.headerContainer h2 {
  color: gainsboro;
}
.headerContainer aside a {
  color: black;
  text-decoration: none;
  font-size: 19px;
}

.headerContainer aside a:hover {
  border-bottom: 2px solid aliceblue;
}
/* Header CSS Ends Here */

/* Cart Main Container CSS Starts Here */

.cartMainContainer{
  width: 70%;
  margin: auto;

}

.cartMainContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid;
}
.cartMainContainer #cartItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap: 20px;
}

article {
  height: 50px;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* Cart Main Container CSS Ends Here */ 



/* Footer CSS Starts Here */
.footerContainer {
  height: 40px;
  width: 100%;
  background: linear-gradient(to right, #00b09b, #96c93d);
  /* position:static;
  bottom:0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartSummary {
  text-align: center;
  flex-wrap: wrap;
}

.cartSummary h2 {
  font-size: 25px;
  color: #222;
  
}

/* Cart Summary */

.cartSummary button {
  display: inline-block;
  margin: 10px 8px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.cartSummary button:hover {
  transform: scale(1.07);
}
#checkout {
  background-color:skyblue;
  color: white;
}
#clearCart {
  background-color: red;
  color: white;
}
