* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, #1d976c, #93f9b9);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.headerContainer aside {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.headerContainer h2 {
  color: gainsboro;
}
.headerContainer aside a {
  color: black;
  text-decoration: none;
  font-size: 19px;
}

.headerContainer aside a:hover {
  border-bottom: 2px solid aliceblue;
}

.footerContainer {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, #00b09b, #96c93d);
  /* position: fixed;
  bottom: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.FilterProductsButton{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center ;
  justify-content: center;
  gap: 25px;
  
}
.FilterButton{
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #00b09b;
  color: aliceblue;
  font-weight: 700;
  font-size: 15px;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

.FilterButton:hover{
  background-color: #96c93d;
  cursor: pointer;
  transform: scale(1.15);
}

.MainProductsContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.MainProductsContainer .Products{
  background-color: aliceblue;
  height: 300px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.MainProductsContainer .Products:hover{
  transform: scale(1.07);
}
.Products img{
  height: 150px;
  width: 150px;
  border-radius: 20px;

}
.Products button{
   height: 30px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #00b09b;
  color: aliceblue;
  font-weight: 700;
  font-size: 15px;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.Products button:hover{
  background-color: #96c93d;
  cursor: pointer;
  transform: scale(1.05);
}